<div id="caly">
    <div class="atrakcja">
        <img src="assets/images/prettyGuido.jpg" alt="guido"><br>
        <h3>Kopalnia Guido</h3>
        <p>Poznaj kawałek historii górnictwa na własne oczy, nawet na głębokości 365 metrów pod ziemią.</p>
        <a href="https://kopalniaguido.pl" target="_blank">Zarezerwuj zwiedzanie</a>
    </div>
    <div class="atrakcja">
        <img src="assets/images/basen.jpg" alt="basen"><br>
        <h3>Basen Aquarius</h3>
        <p>Świetne miejsce dla pływaka, rodziny z dziećmi czy miłośników sauny - mamy coś dla każdego.</p>
        <a href="https://zkr.zabrze.pl" target="_blank">Poznaj szczegóły</a>
    </div>
    <div class="atrakcja">
        <img src="assets/images/stadion.jpg" alt="stadion"><br>
        <h3>Stadion Górnika Zabrze</h3>
        <p>Niepowtarzalne emocje, sport na krajowym poziomie <br>i niezwykła moc kibicowania.</p>
        <a href="https://www.gornikzabrze.pl" target="_blank">Kup bilet na mecz</a>
    </div>
    <div class="atrakcja">
        <img src="assets/images/sztolnia.jpg" alt="stadion"><br>
        <h3>Sztolnia Królowa Luiza</h3>
        <p>Ciekawa historia kopalni tuż pod naszymi nogami oraz podziemnego portu - wszystko w jednym miejscu.</p>
        <a href="https://www.sztolnialuiza.pl" target="_blank">Zobacz więcej</a>
    </div>
</div>