  <h1><a routerLink="../naglowek/glowna" id="bigZabrze">Zabrze</a></h1>
  <nav>
    <div class="kafle" id="imgH">
      <h3><a routerLink="historia">Historia</a></h3>
    </div>
    <div class="kafle" id="imgG">
      <h3><a routerLink="galeria">Galeria</a></h3>
    </div>
    <div class="kafle" id="imgA">
      <h3><a routerLink="atrakcje">Atrakcje</a></h3>
    </div>
    <div class="kafle" id="imgM">
      <h3><a routerLink="mapa" id="map">Mapa</a></h3>
    </div>
  </nav>
  <!--<h2 style="text-align: center;">Witamy w kolonii</h2>-->
  <router-outlet></router-outlet>
  <app-stopka></app-stopka>
