<div id="zawartosc">
    <h2>Witamy w Zabrzu!</h2>
    <p>Na tej stronie możesz znaleźć kilka ciekawych informacji o naszym mieście.</p>
    <ol>
        <li>Możesz poznać jego <a routerLink="../historia">historię</a> w wygodnej formie streszczenia</li>
        <li>Możesz przejrzeć jego zdjęcia w <a routerLink="../galeria">galerii grafik</a></li>
        <li>Możesz dowiedzieć się jakie <a routerLink="../atrakcje">atrakcje</a> Cię u nas czekają</li>
        <li>Możesz przyjrzeć się nam na <a routerLink="../mapa">mapach</a> Google oraz łatwo wytyczyć trasę dojazdu do nas</li>
    </ol>
</div>