<div id="gal">
    <div class="galeria">
        <img src="assets/images/z1.jpg" alt="z1">
        <h3>Okolice Placu Wolności, Centrum</h3>
    </div>
    <div class="galeria">
        <img src="assets/images/z2.jpg" alt="z2">
        <h3>Poczta, Centrum</h3>
    </div>
    <div class="galeria">
        <img src="assets/images/z3.jpg" alt="z3">
        <h3>Stadion Górnika Zabrze, Centrum Południe</h3>
    </div>
    <div class="galeria">
        <img src="assets/images/z4.jpg" alt="z4">
        <h3>Zabytkowa Kopalnia Guido, dzielnica Guido</h3>
    </div>
    <div class="galeria">
        <img src="assets/images/z5.jpg" alt="z5">
        <h3>Centrum handlowe Platan, Centrum Północ</h3>
    </div>
    <div class="galeria">
        <img src="assets/images/z6.jpg" alt="z6">
        <h3>Basen Aquarius Kopernik, <br>osiedle Mikołaja Kopernika</h3>
    </div>
</div>